body{
    font-family: Arial, Helvetica, sans-serif;
    /*text-align: center;*/
}
h1{
    text-transform: uppercase;
    text-align: center;
}
.picture{
    margin-top: 12px;
    width: 300px;
    margin: 0 auto;
}
img{
    width: 300px;
}
.description{
    margin-top: 50px;
    width: 300px;
    margin: 0 auto;
    font-size: 15px;
}
.description li{
    margin-top: 5px;
}
table{
    margin: 0 auto;
    width: 300px;
    margin-top: 30px;
    font-size: 19px;
}
.inputText{
    letter-spacing: 1px;
}
.input{
    margin-top: 2%;
    height: 30px;
    border: solid 1px #000;
    border-radius: 5px;
    box-shadow: 1px 1px;
    text-align: left;
    width: 145px;
    max-width: 145px;
    /*overflow: hidden;*/
    padding-left: 3px;
}
.buttons{
    margin: 0 auto;
    width: 300px;
    user-select: none;
}
#createSVG{
    position: relative;
    top: 10px;
    display: inline-block;
    width: 30px;
    cursor: pointer;
    margin-left: 16px;
    padding: 4px 6px;
    background: #e7e2e2;
    border: solid 1px #000;
    border-radius: 10px;
    box-shadow: inset 2px 1px;
}
#createSVG:hover{
    background: #928e8e;
}
#navigationCreate{
    display: none;
    border: solid 1px #000;
    border-radius: 3px;
    box-shadow: inset 1px 1px #000;
    width: 90px;
    margin-left: 18px;
    margin-top: 1px;
    background: #e7e2e2;
    
}
#navigationCreate ul{
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navigationCreate li{
    font-size: 18px;
    list-style: none;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: dotted 1px #928e8e;
    margin-bottom: 3px;
    font-weight: 600;
    cursor: pointer;
}
#navigationCreate li:hover{
    background: #928e8e;
}
#button{
    display: inline-block;
    margin: 0 auto;
    width: 100px;
    height: 20px;
    border: solid 1px #000;
    border-radius: 10px;
    box-shadow: inset 2px 1px;
    background: #e7e2e2;
    text-align: center;
    padding: 12px 10px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    user-select: none;
    margin-left: 20px;
}
#button:hover{
    background: #928e8e;
}
#undoSVG{
    position: relative;
    top: 10px;
    display: inline-block;
    width: 30px;
    cursor: pointer;
    margin-left: 16px;
    padding: 4px 6px;
    background: #e7e2e2;
    border: solid 1px #000;
    border-radius: 10px;
    box-shadow: inset 2px 1px;
}
#undoSVG:hover{
    background: #928e8e;
}
.facebook{
    /*display: none;*/
    margin: 0 auto;
    width: 300px;
    margin-top: 25px;
}
.google{
    font-size: 10px;
    margin: 0 auto;
    width: 300px;
    margin-top: 25px;
    text-align: left;
}
a{
    text-decoration: none;    
}
.google p{
    margin-top: 18px;
}